//general

/*Cosas generales*/
body {
    max-width: 342vw;
    overflow-x: hidden;
    background: linear-gradient(to bottom, rgb(250, 248, 246), rgb(240, 238, 238), rgb(235, 231, 231));
    @include media ('xs'){
        max-width: 370px;
    }
    @include media ('sm'){
        max-width: 540px;  
    }
    @include media ('md'){
        max-width: 690px;  
    }
    @include media ('lg'){
        max-width: 890px;   
    }
    @include media ('xl'){
        max-width: 1000px;  
    }
    @include media ('xxl'){
        max-width: 1400px;  
    }
} 

ul {
    list-style: none;
}

li {
    display: inline-block;
}

h1,
h2,
h3,
p {
    font-family: $fontMain;
}

h1 {
    font-size: $textLg;
    font-weight: $textBold;
}

h2 {
    font-size: $textMd;
}

h3 {
    font-size: $textSm;
}

p {
    font-size: $textXs;
}

.font-size {
    font-size: $textXxs;
}

.justify-content { justify-content: $center;}

.align.items {align-items: $center;}

.flex-flow-row-nowrap {flex-flow: row nowrap;} 

.flex-flow-row-wrap {flex-flow: row wrap;}

.flex-direction-column {flex-direction: column;}

.pointer {cursor: pointer;}

.propiedades  {
    height: 12em;
    width: 11em;
}

/*Fin de las generalidades*/

/* HEADER */
#header {
    display: flex;
    grid-area: "header";
    background-color: $white;
    div {
        width: $a;
        height: $a;
        overflow: $a;
        flex-flow: row wrap;
        ul {
            list-style: none;
            li {
                display: inline-block;
                padding-right: 5px;
                .iconosHeader {
                    width: 14px;
                    height: 12px;
                }
            } 
        } 
    } 
}
/*Fin Header*/



/*FOOTER*/
#pie {
    grid-area: "footer";
    overflow: hidden;
    background-color: $secondaryColor;    
    .index-contenedor-footer {
        width: $a;
        height: $a;
        background-color: $mainColor;
        color: $colorFooter;
    }
    .index-contenedor-footer-mapa {
        width: $a;
        height: $a;
        margin-bottom: 1px;
        text-align: $center;
        color: $colorFooter;
        .mapa--ugarte {
            height: 12rem;
            width: 16rem ;
            justify-content: $center;
        }
     }
     .index-contenedor-footer-advertencia {
        margin: $a;
        width: $a;
        height: $a;
        p{
            margin-top: 15px;
            color: $colorAdvFooter;
            font-size: $textXxs;
        }
    }
} 
/*FIN DEL FOOTER*/