//general

/*Cosas generales*/
body {
    max-width: 342vw;
    overflow-x: hidden;
    background: linear-gradient(to bottom, rgb(250, 248, 246), rgb(240, 238, 238), rgb(235, 231, 231));
    @include xs{
        max-width: 370px;
    }
    @include sm{
        max-width: 540px;  
    }
    @include md{
        max-width: 690px;  
    }
    @include lg{
        max-width: 890px;   
    }
    @include xl{
        max-width: 1000px;  
    }
    @include xxl{
        max-width: 1400px;  
    }
} 

ul {
    list-style: none;
}

li {
    display: inline-block;
}

.justify-content { justify-content: $center;}

.align.items {align-items: $center;}

.flex-flow-row-nowrap {flex-flow: row nowrap;} 

.flex-flow-row-wrap {flex-flow: row wrap;}

.flex-direction-column {flex-direction: column;}

.pointer {cursor: pointer;}

.carrusel-props-destacados {
    height: 12em;
}

h1 {
    @include texto ($fontMain, $textMd);
    font-weight: $textBolder;
    @include lg{
        font-size: $textLg;
    }
    @include xl{
        font-size: $textXl;
        font-weight: $textBolder;
    }
    @include xxl{
        font-size: $textXl;
        font-weight: $textBolder;
    }
}

h2 {
    @include texto ($fontMain, $textSm);
    font-weight: $textBold;
    @include lg{
        font-size: $textLg;
    }
    @include xl{
        font-size: $textLg;
    }
    @include xxl{
        font-size: $textLg;
    }
}

h3 {
    @include texto ($fontMain, $textPxl);
    @include lg{
        font-size: $textMd;
    }
}


p {
    @include texto ($fontMain, $textXs);
    @include sm{
        font-size: $textSm;
    }
    @include lg{
        font-size: $textSm;
    }
    @include xl{
        font-size: $textPxl;
    }
    @include xxl{
        font-size: $textPxl;
    }
}

.font-size {
    @include texto ($fontMain, $textXxss);
    @include lg{
        font-size: $textXs;
    }
    @include xl{
        font-size: $textSm;
    }
    @include xxl{
        font-size: $textMd;
    }
}


/*Fin de las generalidades*/

/* HEADER */
#header {
    display: flex;
    grid-area: header;
    background-color: $white;
    div {
        width: $a;
        height: $a;
        overflow: $a;
        flex-flow: row wrap;
        ul {
            list-style: none;
            li {
                display: inline-block;
                padding-right: 5px;
                .iconosHeader {
                    width: 14px;
                    height: 12px;
                }
                p {
                    font-size: $textXxs;
                    @include lg{
                        font-size: $textXs;
                    }
                    @include xl{
                        font-size: $textSm;
                    }
                    @include xxl{
                        font-size: $textSm;
                    }
                }
            } 
        } 
    } 
}
/*Fin Header*/



/*FOOTER*/
#pie {
    grid-area: footer;
    overflow: hidden;
    background-color: $secondaryColor;    
    .index-contenedor-footer {
        width: $a;
        height: $a;
        background-color: $mainColor;
        color: $mainColorFooter;
    }
    .index-contenedor-footer-mapa {
        width: $a;
        height: $a;
        margin-bottom: 1px;
        text-align: $center;
        color: $mainColorFooter;
        .mapa--ugarte {
            height: 12rem;
            width: 16rem ;
            justify-content: $center;
        }
     }
     .index-contenedor-footer-advertencia {
        margin: $a;
        width: $a;
        height: $a;
        p{
            margin-top: 15px;
            color: $secondaryColorFooter;
            font-size: $textXxs;
        }
    }
} 
/*FIN DEL FOOTER*/