//Página de contacto

/*Pág Contacto*/
.fondo {
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
    background-image: url(../img/Fondos/fondoblurry.jpg);
}

.contenedor-contacto {
    margin: $a;
    width: $a;
    .mapa-contacto {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 25px 0px;
        iframe {
            width: 700px;
            height: 480px;
        }
    }
    
}
 /*Fin Pàg Contacto*/



