/*Pag error 404*/

.error-body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "titulo"
    "subtitulo"
    "imagen" 
    "button";
    @include xl{
        grid-template-columns: 2fr;
        grid-template-rows: 3fr;
        grid-template-areas: 
        "imagen titulo"
        "imagen subtitulo"
        "imagen button"; 
    }
    @include xxl{
        grid-template-columns: 55% 45%;
        grid-template-rows: 3fr;
        grid-template-areas: 
        "imagen titulo"
        "imagen subtitulo"
        "button button";  
    }
    //Container de todo
    .container-error {
        margin: 75px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        //Primer Section
        .container-error-texto {
            margin: 70px;
            @include lg {
            margin: 120px 80px;
            }
            
            //Sub-section nº1
            .error-titulo {
                grid-area: titulo;
                @include d-flex ($center,$center);
                color: rgb(9, 51, 105);
                font-weight: 800;
                font-size: larger;
                margin-bottom: 15px;
                @include lg {
                    font-size: 2em;
                    margin-bottom: 25px;
                }
                @include xl{
                    font-size: 2.2em;
                    margin-bottom: 35px;
                }
                @include xxl{
                    font-size: 2.5em; 
                    margin-bottom: 40px;
                }
            }
            //Sub-section nº2
            .error-subtitulo {
                grid-area: subtitulo;
                @include d-flex ($center,$center);
                @include lg {
                    font-size: 1.3em;
                }
                @include xl{
                    font-size: 1.5em;
                }
                @include xxl{
                    font-size: 1.8em; 
                }
            }
        }
        //Segunda Section 
        .container-error-img {
            grid-area: imagen;
            @include d-flex ($center,$center);
            margin: 40px 55px;
            //Sub-section nº1
            img {
                @include lg {
                    width: 390px;
                    height: 390px;
                }
                @include xl{
                    width: 300px;
                    height: 300px;
                }
                @include xxl{
                    width: 310px;
                    height: 310px; 
                } 
            }
        }
        //Tercera Section 
        .container-error-button {
            grid-area: button;
            padding-bottom: 30px;
            @include lg {
                width: 390px;
                padding-bottom: 60px;
            }
            @include xl{
                width: 400px;
                padding-bottom: 70px;
            }
            @include xxl{
                width: 420px;
                padding-bottom: 80px;
            }
            a {
                @include d-flex ($center,$center);
                margin: 20px 55px;
                font-weight: 500;
                @include lg {
                    font-size: 1.5em;
                }
                @include xl{
                    font-size: 1.6em;
                }
                @include xxl{
                    font-size: 1.7em; 
                }
            }   
        }
    }
}