//fuentes de Google

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
$fontMain: 'Open Sans', sans-serif;
$secondaryFont: 'Roboto', sans-serif;

$textXl: 2.5em;
$textLg: 2em;
$textMd: 1.5em;
$textPxl: 1.2em;
$textSm: 1em;
$textXs: 0.7em;
$textXxs: 0.6em;
$textXxss: 0.5em;

$textBold: 800;
$textBolder: 900;
$textLight: 300;

$center: center;