//fuentes de Google

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
$fontMain: 'Open Sans', sans-serif;
$secondaryFont: 'Roboto', sans-serif;

$textLg: 2.5em;
$textMd: 400;
$textSm: 300;
$textXs: 200;
$textXxs: 100;

$textBold: 700;
$textLight: 300;

$center: center;
