// cuerpo del Index

/*MAIN del INDEX*/
#main {
    grid-area: "main";
    padding-bottom: 50px;
    .index-contenedor-img {
        height: $h-0;
        width: $w-0;
        cursor: pointer;
        img {
            height: $h-0;
            width: $w-0;
         }
     }
     .index-contenedor-titulo {
        width: $a;
        height: $a;
        margin: $a;
        padding-top: 10px;
        padding-bottom: 35px;
        h2{
            font-weight: $textBold;
            padding-bottom: 20px;
            margin: 0px 70px;
         }
     }  
     .index-contenedor-destacados {
        margin: $a;
        padding-top: 35px;
        h1{
            font-weight: $textBold;
            padding-bottom: 10px;
            margin: 0px 25px;
        }
        #cards { 
            margin: 30px 35px;
            .propiedades {
                height: 10rem;
                width: 12rem ;
            }  
            .margin-card { 
                margin-top: 15px;
            }
            .whole-card { 
                margin-bottom: 20px;
            }
        }     
     }
     .flex-direction { 
        flex-direction: row; 
    }
    /*boton Boot, "Encuentre su prop"*/
    .btn-color {
        background-color: $btn-bg;
        border: $btn-border;
    }
    hr {
        margin: $a;
        background: black;
        width: $w-100;
        height: 4px;
        border-style: none;
        margin-bottom: 15px;
    }
    .margin-bottom  { 
        margin-bottom: 50px;
    }
 }
 /*FIN DEL INDEX*/