//Mixins, maps, extends
//Mixins para Break Points//
@mixin xs{
    @media (min-width: 280px) and (max-width: 374px) {
        @content;
    }   
}

@mixin sm{
    @media (min-width: 375px) and (max-width: 539px) {
        @content;
    }   
}

@mixin md{
    @media (min-width: 540px) and (max-width: 699px) {
        @content;
    }   
}

@mixin lg{
    @media (min-width: 700px) and (max-width: 999px) {
        @content;
    }   
}

@mixin xl{
    @media (min-width: 1000px) and (max-width: 1199px) {
        @content;
    }   
}

@mixin xxl{
    @media (min-width: 1200px) and (max-width: 1400px) {
        @content;
    }   
}

//Mixin texto//

@mixin texto ($family, $size) {
    font-family: $family;
    font-size: $size;
}

//Mixin D-felx//

@mixin d-flex ($justify, $align){
    display: flex;
    align-items: $align;
    justify-content: $justify;
}  

//Map colores//
$paleta-footer : (
    'bg-oscuro': $mainColor,
    'bg-claro': $secondaryColor,
    'textoPrincipal': $mainColorFooter,
    'textoSecundario': $secondaryColorFooter,
);

$paleta-button : (
    'fondo': $btn-bg,
    'border': $btn-border,
    'hover': $btn-hover,
);

