/* NAV */
#nav {
    grid-area: "nav" ;
    &:hover { 
        cursor: pointer;
    }
    .logo-nav-medidas { 
        @include media ('xs') {
            width: 100px;
            height: 100px;
        }   
        @include media ('sm'){
            width: 135px;
            height: 135px;
        } 
        @include media ('md'){
            width: 140px;
            height: 140px;
        }
        @include media ('lg'){
            width: 160px;
            height: 160px;
        }
        @include media ('xl'){
            width: 180px;
            height: 180px; 
        }
        @include media ('xxl'){
            width: 190px;
            height: 190px;   
        }
    } 
    
}
/*Fin Nav*/