/* NAV */
#nav {
    grid-area: nav ;
    &:hover { 
        cursor: pointer;
    }
    .logo-nav-medidas { 
        width: 135px;
        height: 135px;

        @include sm{
            width: 135px;
            height: 135px;
        } 
        @include md{
            width: 140px;
            height: 140px;
        }
        @include lg{
            width: 160px;
            height: 160px;
        }
        @include xl{
            width: 180px;
            height: 180px; 
        }
        @include xxl{
            width: 190px;
            height: 190px;   
        }
    } 
    
}
/*Fin Nav*/