 /*Pág Props, Alq y Ventas*/

#propiedadesBody  {
    display: flex;
    background-image: url(../img/Fondos/fondoblurry.jpg);
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
    .contenedor-props{ 
        display: flex;
        flex-flow: column nowrap;
        @include md{
            display: grid;
            grid-template-columns: 22% 78%;
            grid-template-rows: repeat(2, auto);
            grid-template-areas: 
            "aside titulo"
            "aside props";
        }
        .titulo-props  {
            grid-area: "titulo";
            margin: 5%;
        } 
        #filtros  {
            background-color: $perla;
            font-size: $textXs;
            padding: 20px 10px;
            grid-area: "aside";
            h3 {
                text-align: center;
                font-weight: $textBold;
            }
        }
        #mainProps {
            display: flex;
            flex-flow: column nowrap;
            margin: 20px;  
            .props-cards  {
                grid-area: "props";
                .card-propiedades {
                    @include d-flex ($center, $center);
                }
            }
        }
    }
}
/* Fin pág Props, Alq y Ventas*/