 /*Pág Props, Alq y Ventas*/

#propiedadesBody  {
    display: flex;
    background-image: url(../img/Fondos/fondoblurry.jpg);
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
    .contenedor-props{ 
        display: flex;
        flex-flow: column nowrap;
        @include lg{
            display: grid;
            grid-template-columns: 22% 78%;
            grid-template-rows: repeat(5, auto);
            grid-template-areas: 
            "header header"
            "nav nav"
            "aside titulo"
            "aside props"
            "footer footer";
        }
        @include xl{
            display: grid;
            grid-template-columns: 24% 76%;
            grid-template-rows: repeat(5, auto);
            grid-template-areas: 
            "header header"
            "nav nav"
            "aside titulo"
            "aside props"
            "footer footer";
        }
        @include xxl{
            display: grid;
            grid-template-columns: 25% 75%;
            grid-template-rows: repeat(5, auto);
            grid-template-areas: 
            "header header"
            "nav nav"
            "aside titulo"
            "aside props"
            "footer footer";
        }
        .titulo-props  {
            grid-area: titulo;
            margin: 5%;
        } 
        #filtros  {
            background-color: $perla;
            font-size: $textXs;
            padding: 20px 10px;
            grid-area: aside;
            h3 {
                text-align: center;
                font-weight: $textBold;
            }
        }
        #mainProps {
            grid-area: props;
            margin: 20px;  
            .props-cards  {
                .card-propiedades {
                    display: flex;
                    flex-flow: column nowrap;
                    @include d-flex ($center, $center);

                }
            }
        }
    }
}
/* Fin pág Props, Alq y Ventas*/