/*Pàg Tasaciones*/
.contenedor-hr-tasaciones{
    margin: $a;
    @include d-flex ($center, $center);
    hr{
        width: 80%;
        height: 1px;
    }
}

.icono-tasaciones {
    width: $a;
    height: 65px;
    margin-top: 10px;
 }

.contenedor-form-tasaciones {
    margin-bottom: 45px;
    margin-right: 10%;
    margin-left: 10%;
    padding: 10px;
    color: $gris;
    .btn-bg {
        background-color: $btn-bg;
    }
}
/* FIN TASACIONES*/