//Utilidades

/*paddings*/
.p-t {
    padding-top: 35px;
}

.p-b-texto {
    padding-bottom: 25px;
}

.p-b-contenido {
    padding-bottom: 65px;
}

.p-t-footer {
    padding-top: 15px;
}

/*margins*/

.m-25 {
    margin: 25px;
}

