//vars globales
$mainColor: rgb(115, 16, 26);
$secondaryColor: rgb(138, 28, 39);
$white: rgb(245, 245, 245);
$gris-claro: #e2dbd4;
$gris: #999897;

$btn-bg: rgb(233, 227, 227);
$btn-border: solid 2px rgb(218, 206, 206);
$btn-hover: rgb(88, 84, 84);

$colorAdvFooter: rgb(184, 174, 174);
$colorFooter: rgb(241, 236, 236);

$w-100: 100%;
$w-50: 50%;
$w-0: 0;

$h-100: 100%;
$h-0: 0;

$a: auto;



