//vars globales
$mainColor: rgb(115, 16, 26);
$secondaryColor: rgb(138, 28, 39);
$white: rgb(245, 245, 245);

$btn-bg: rgb(233, 227, 227);
$btn-border: solid 2px rgb(218, 206, 206);

$colorAdvFooter: rgb(184, 174, 174);
$colorFooter: rgb(241, 236, 236);

$w-100: 100%;
$w-50: 50%;
$w-0: 0;

$h-100: 100%;
$h-0: 0;

$auto: auto;

