@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap"); /*Cosas generales*/
body {
  max-width: 342vw;
  overflow-x: hidden;
  background: linear-gradient(to bottom, rgb(250, 248, 246), rgb(240, 238, 238), rgb(235, 231, 231));
}
@media (min-width: 280px) and (max-width: 374px) {
  body {
    max-width: 370px;
  }
}
@media (min-width: 375px) and (max-width: 539px) {
  body {
    max-width: 540px;
  }
}
@media (min-width: 540px) and (max-width: 699px) {
  body {
    max-width: 690px;
  }
}
@media (min-width: 700px) and (max-width: 999px) {
  body {
    max-width: 890px;
  }
}
@media (min-width: 1000px) and (max-width: 1199px) {
  body {
    max-width: 1000px;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  body {
    max-width: 1400px;
  }
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

.justify-content {
  justify-content: center;
}

.align.items {
  align-items: center;
}

.flex-flow-row-nowrap {
  flex-flow: row nowrap;
}

.flex-flow-row-wrap {
  flex-flow: row wrap;
}

.flex-direction-column {
  flex-direction: column;
}

.pointer {
  cursor: pointer;
}

.propiedades {
  height: 12em;
  width: 11em;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 2em;
  font-weight: 800;
}
@media (min-width: 700px) and (max-width: 999px) {
  h1 {
    font-size: 2.5em;
  }
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
}
@media (min-width: 700px) and (max-width: 999px) {
  h2 {
    font-size: 2em;
  }
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
}
@media (min-width: 700px) and (max-width: 999px) {
  h3 {
    font-size: 1.5em;
  }
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.6em;
}
@media (min-width: 375px) and (max-width: 539px) {
  p {
    font-size: 0.7em;
  }
}
@media (min-width: 700px) and (max-width: 999px) {
  p {
    font-size: 1em;
  }
}
@media (min-width: 1000px) and (max-width: 1199px) {
  p {
    font-size: 1.2em;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  p {
    font-size: 1.2em;
  }
}

.font-size {
  font-family: "Open Sans", sans-serif;
  font-size: 0.5em;
}
@media (min-width: 700px) and (max-width: 999px) {
  .font-size {
    font-size: 0.6em;
  }
}
@media (min-width: 1000px) and (max-width: 1199px) {
  .font-size {
    font-size: 0.7em;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  .font-size {
    font-size: 1em;
  }
}

/*Fin de las generalidades*/
/* HEADER */
#header {
  display: flex;
  grid-area: "header";
  background-color: rgb(245, 245, 245);
}
#header div {
  width: auto;
  height: auto;
  overflow: auto;
  flex-flow: row wrap;
}
#header div ul {
  list-style: none;
}
#header div ul li {
  display: inline-block;
  padding-right: 5px;
}
#header div ul li .iconosHeader {
  width: 14px;
  height: 12px;
}

/*Fin Header*/
/*FOOTER*/
#pie {
  grid-area: "footer";
  overflow: hidden;
  background-color: rgb(138, 28, 39);
}
#pie .index-contenedor-footer {
  width: auto;
  height: auto;
  background-color: rgb(115, 16, 26);
  color: rgb(241, 236, 236);
}
#pie .index-contenedor-footer-mapa {
  width: auto;
  height: auto;
  margin-bottom: 1px;
  text-align: center;
  color: rgb(241, 236, 236);
}
#pie .index-contenedor-footer-mapa .mapa--ugarte {
  height: 12rem;
  width: 16rem;
  justify-content: center;
}
#pie .index-contenedor-footer-advertencia {
  margin: auto;
  width: auto;
  height: auto;
}
#pie .index-contenedor-footer-advertencia p {
  margin-top: 15px;
  color: rgb(184, 174, 174);
  font-size: 0.6em;
}

/*FIN DEL FOOTER*/
/*Extends*/
.btn-more, #main .index-contenedor-titulo section div .btn-rounded {
  background-color: rgb(233, 227, 227);
  border: solid 1.5px solid 2px rgb(218, 206, 206);
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-more:hover, #main .index-contenedor-titulo section div .btn-rounded:hover {
  cursor: pointer;
  color: rgb(245, 245, 245);
  background-color: rgb(88, 84, 84);
}

/*paddings*/
.p-t {
  padding-top: 35px;
}

.p-b-texto {
  padding-bottom: 25px;
}

.p-b-contenido {
  padding-bottom: 65px;
}

.p-t-footer {
  padding-top: 15px;
}

/*margins*/
.m-25 {
  margin: 25px;
}

/* NAV */
#nav {
  grid-area: "nav";
}
#nav:hover {
  cursor: pointer;
}
#nav .logo-nav-medidas {
  width: 135px;
  height: 135px;
}
@media (min-width: 375px) and (max-width: 539px) {
  #nav .logo-nav-medidas {
    width: 135px;
    height: 135px;
  }
}
@media (min-width: 540px) and (max-width: 699px) {
  #nav .logo-nav-medidas {
    width: 140px;
    height: 140px;
  }
}
@media (min-width: 700px) and (max-width: 999px) {
  #nav .logo-nav-medidas {
    width: 160px;
    height: 160px;
  }
}
@media (min-width: 1000px) and (max-width: 1199px) {
  #nav .logo-nav-medidas {
    width: 180px;
    height: 180px;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  #nav .logo-nav-medidas {
    width: 190px;
    height: 190px;
  }
}

/*Fin Nav*/
/*MAIN del INDEX*/
#main {
  grid-area: "main";
  padding-bottom: 50px;
  /*boton Boot, "Encuentre su prop"*/
}
#main .index-contenedor-img {
  height: 0;
  width: 0;
  cursor: pointer;
}
@media (min-width: 700px) and (max-width: 999px) {
  #main .index-contenedor-img {
    height: 620px;
    width: auto;
    overflow: auto;
    margin-bottom: 20px;
  }
}
@media (min-width: 1000px) and (max-width: 1199px) {
  #main .index-contenedor-img {
    height: 690px;
    width: auto;
    overflow: auto;
    margin-bottom: 25px;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  #main .index-contenedor-img {
    height: 720px;
    width: auto;
    overflow: auto;
    margin-bottom: 30px;
  }
}
#main .index-contenedor-img img {
  height: 100%;
  width: 100%;
}
#main .index-contenedor-titulo {
  width: auto;
  height: auto;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 35px;
}
#main .index-contenedor-titulo h1 {
  font-weight: 800;
  padding-bottom: 20px;
  margin: 0px 70px;
}
#main .index-contenedor-titulo section div .btn-rounded {
  border-radius: 5px;
}
#main .index-contenedor-destacados {
  margin: auto;
  padding-top: 35px;
}
#main .index-contenedor-destacados h2 {
  font-weight: 800;
  padding-bottom: 10px;
  margin: 0px 25px;
}
#main .index-contenedor-destacados #cards {
  margin: 30px 35px;
}
#main .index-contenedor-destacados #cards .propiedades {
  height: 10rem;
  width: 12rem;
}
#main .index-contenedor-destacados #cards .margin-card {
  margin-top: 15px;
}
#main .index-contenedor-destacados #cards .whole-card {
  margin-bottom: 20px;
}
#main .flex-direction {
  flex-direction: row;
}
#main .btn-color {
  background-color: rgb(233, 227, 227);
  border: solid 2px rgb(218, 206, 206);
}
#main hr {
  margin: auto;
  background: black;
  width: 100%;
  height: 4px;
  border-style: none;
  margin-bottom: 15px;
}
#main .margin-bottom {
  margin-bottom: 50px;
}

/*FIN DEL INDEX*/
/*Pág Contacto*/
.fondo {
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  background-image: url(../img/Fondos/fondoblurry.jpg);
}

.contenedor-contacto {
  margin: auto;
  width: auto;
}
.contenedor-contacto .mapa-contacto {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0px;
}
.contenedor-contacto .mapa-contacto iframe {
  width: 700px;
  height: 480px;
}

/*Fin Pàg Contacto*/
/*Pàg Tasaciones*/
.contenedor-hr-tasaciones {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenedor-hr-tasaciones hr {
  width: 80%;
  height: 1px;
}

.icono-tasaciones {
  width: auto;
  height: 65px;
  margin-top: 15px;
}

.contenedor-form-tasaciones {
  margin-bottom: 45px;
  margin-right: 35px;
  margin-left: 35px;
  padding: 10px;
  color: #999897;
}
.contenedor-form-tasaciones .btn-bg {
  background-color: rgb(233, 227, 227);
}

/* FIN TASACIONES*/
/*Pág Props, Alq y Ventas*/
#propiedadesBody {
  display: flex;
  background-image: url(../img/Fondos/fondoblurry.jpg);
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
}
#propiedadesBody .contenedor-props {
  display: grid;
  grid-template-columns: 22% 78%;
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "aside titulo" "aside props";
}
#propiedadesBody .contenedor-props #filtros {
  background-color: #e2dbd4;
  font-size: 0.7em;
  padding-top: 40px;
  padding-left: 5px;
  grid-area: "aside";
}
#propiedadesBody .contenedor-props #mainProps {
  display: flex;
  flex-flow: column nowrap;
}
#propiedadesBody .contenedor-props #mainProps .titulo-props {
  grid-area: "titulo";
}
#propiedadesBody .contenedor-props #mainProps .props-cards {
  grid-area: "props";
}

/* Fin pág Props, Alq y Ventas*/

/*# sourceMappingURL=main.css.map */
