@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap"); /*Cosas generales*/
body {
  max-width: 342vw;
  overflow-x: hidden;
  background: linear-gradient(to bottom, rgb(250, 248, 246), rgb(240, 238, 238), rgb(235, 231, 231));
}
@media (min-width: 280px) and (max-width: 374px) {
  body {
    max-width: 370px;
  }
}
@media (min-width: 375px) and (max-width: 539px) {
  body {
    max-width: 540px;
  }
}
@media (min-width: 540px) and (max-width: 699px) {
  body {
    max-width: 690px;
  }
}
@media (min-width: 700px) and (max-width: 999px) {
  body {
    max-width: 890px;
  }
}
@media (min-width: 1000px) and (max-width: 1199px) {
  body {
    max-width: 1000px;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  body {
    max-width: 1400px;
  }
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

.justify-content {
  justify-content: center;
}

.align.items {
  align-items: center;
}

.flex-flow-row-nowrap {
  flex-flow: row nowrap;
}

.flex-flow-row-wrap {
  flex-flow: row wrap;
}

.flex-direction-column {
  flex-direction: column;
}

.pointer {
  cursor: pointer;
}

.propiedades {
  height: 12em;
  width: 11em;
}

.carrusel-props-destacados {
  height: 12em;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
  font-weight: 900;
}
@media (min-width: 700px) and (max-width: 999px) {
  h1 {
    font-size: 2em;
  }
}
@media (min-width: 1000px) and (max-width: 1199px) {
  h1 {
    font-size: 2.5em;
    font-weight: 900;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  h1 {
    font-size: 2.5em;
    font-weight: 900;
  }
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  font-weight: 800;
}
@media (min-width: 700px) and (max-width: 999px) {
  h2 {
    font-size: 2em;
  }
}
@media (min-width: 1000px) and (max-width: 1199px) {
  h2 {
    font-size: 2em;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  h2 {
    font-size: 2em;
  }
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
}
@media (min-width: 700px) and (max-width: 999px) {
  h3 {
    font-size: 1.5em;
  }
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.6em;
}
@media (min-width: 375px) and (max-width: 539px) {
  p {
    font-size: 0.7em;
  }
}
@media (min-width: 700px) and (max-width: 999px) {
  p {
    font-size: 1em;
  }
}
@media (min-width: 1000px) and (max-width: 1199px) {
  p {
    font-size: 1.2em;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  p {
    font-size: 1.2em;
  }
}

.font-size {
  font-family: "Open Sans", sans-serif;
  font-size: 0.5em;
}
@media (min-width: 700px) and (max-width: 999px) {
  .font-size {
    font-size: 0.7em;
  }
}
@media (min-width: 1000px) and (max-width: 1199px) {
  .font-size {
    font-size: 1em;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  .font-size {
    font-size: 1.5em;
  }
}

/*Fin de las generalidades*/
/* HEADER */
#header {
  display: flex;
  grid-area: header;
  background-color: rgb(245, 245, 245);
}
#header div {
  width: auto;
  height: auto;
  overflow: auto;
  flex-flow: row wrap;
}
#header div ul {
  list-style: none;
}
#header div ul li {
  display: inline-block;
  padding-right: 5px;
}
#header div ul li .iconosHeader {
  width: 14px;
  height: 12px;
}

/*Fin Header*/
/*FOOTER*/
#pie {
  grid-area: footer;
  overflow: hidden;
  background-color: rgb(138, 28, 39);
}
#pie .index-contenedor-footer {
  width: auto;
  height: auto;
  background-color: rgb(115, 16, 26);
  color: rgb(241, 236, 236);
}
#pie .index-contenedor-footer-mapa {
  width: auto;
  height: auto;
  margin-bottom: 1px;
  text-align: center;
  color: rgb(241, 236, 236);
}
#pie .index-contenedor-footer-mapa .mapa--ugarte {
  height: 12rem;
  width: 16rem;
  justify-content: center;
}
#pie .index-contenedor-footer-advertencia {
  margin: auto;
  width: auto;
  height: auto;
}
#pie .index-contenedor-footer-advertencia p {
  margin-top: 15px;
  color: rgb(184, 174, 174);
  font-size: 0.6em;
}

/*FIN DEL FOOTER*/
/*Extends*/
.btn-more, #main .index-contenedor-titulo section div .btn-rounded {
  background-color: rgb(233, 227, 227);
  border: solid 1.5px solid 2px rgb(218, 206, 206);
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-more:hover, #main .index-contenedor-titulo section div .btn-rounded:hover {
  cursor: pointer;
  color: rgb(245, 245, 245);
  background-color: rgb(88, 84, 84);
}

/*paddings*/
.p-t {
  padding-top: 35px;
}

.p-b-texto {
  padding-bottom: 25px;
}

.p-b-contenido {
  padding-bottom: 65px;
}

.p-t-footer {
  padding-top: 15px;
}

/*margins*/
.m-5 {
  margin: 5%;
}

/* NAV */
#nav {
  grid-area: nav;
}
#nav:hover {
  cursor: pointer;
}
#nav .logo-nav-medidas {
  width: 135px;
  height: 135px;
}
@media (min-width: 375px) and (max-width: 539px) {
  #nav .logo-nav-medidas {
    width: 135px;
    height: 135px;
  }
}
@media (min-width: 540px) and (max-width: 699px) {
  #nav .logo-nav-medidas {
    width: 140px;
    height: 140px;
  }
}
@media (min-width: 700px) and (max-width: 999px) {
  #nav .logo-nav-medidas {
    width: 160px;
    height: 160px;
  }
}
@media (min-width: 1000px) and (max-width: 1199px) {
  #nav .logo-nav-medidas {
    width: 180px;
    height: 180px;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  #nav .logo-nav-medidas {
    width: 190px;
    height: 190px;
  }
}

/*Fin Nav*/
/*MAIN del INDEX*/
#main {
  grid-area: "main";
  padding-bottom: 50px;
  /*boton Boot, "Encuentre su prop"*/
}
#main .index-contenedor-img {
  height: 0;
  width: 0;
  cursor: pointer;
}
@media (min-width: 700px) and (max-width: 999px) {
  #main .index-contenedor-img {
    height: 620px;
    width: auto;
    overflow: auto;
    margin-bottom: 20px;
  }
}
@media (min-width: 1000px) and (max-width: 1199px) {
  #main .index-contenedor-img {
    height: 690px;
    width: auto;
    overflow: auto;
    margin-bottom: 25px;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  #main .index-contenedor-img {
    height: 720px;
    width: auto;
    overflow: auto;
    margin-bottom: 30px;
  }
}
#main .index-contenedor-img img {
  height: 100%;
  width: 100%;
}
#main .index-contenedor-titulo {
  width: auto;
  height: auto;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 35px;
}
#main .index-contenedor-titulo h1 {
  font-weight: 800;
  padding-bottom: 20px;
  margin: 0px 70px;
}
#main .index-contenedor-titulo section div .btn-rounded {
  border-radius: 5px;
}
#main .index-contenedor-destacados {
  margin: auto;
  padding-top: 35px;
}
#main .index-contenedor-destacados h2 {
  padding-bottom: 10px;
  margin: 0px 25px;
}
#main .index-contenedor-destacados #cards {
  margin: 30px 20px;
}
#main .index-contenedor-destacados #cards .whole-card {
  margin-bottom: 20px;
}
#main .flex-direction {
  flex-direction: row;
}
#main .btn-color {
  background-color: rgb(233, 227, 227);
  border: solid 2px rgb(218, 206, 206);
}
#main hr {
  margin: auto;
  background: black;
  width: 100%;
  height: 4px;
  border-style: none;
  margin-bottom: 15px;
}
#main .margin-bottom {
  margin-bottom: 50px;
}

/*FIN DEL INDEX*/
/*Pág Contacto*/
.fondo {
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  background-image: url(../img/Fondos/fondoblurry.jpg);
}

.contenedor-contacto {
  margin: auto;
  width: auto;
}
.contenedor-contacto .mapa-contacto {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0px;
}
.contenedor-contacto .mapa-contacto iframe {
  width: 700px;
  height: 480px;
}

/*Fin Pàg Contacto*/
/*Pàg Tasaciones*/
.contenedor-hr-tasaciones {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenedor-hr-tasaciones hr {
  width: 80%;
  height: 1px;
}

.icono-tasaciones {
  width: auto;
  height: 65px;
  margin-top: 10px;
}

.contenedor-form-tasaciones {
  margin-bottom: 45px;
  margin-right: 10%;
  margin-left: 10%;
  padding: 10px;
  color: #999897;
}
.contenedor-form-tasaciones .btn-bg {
  background-color: rgb(233, 227, 227);
}

/* FIN TASACIONES*/
/*Pág Props, Alq y Ventas*/
#propiedadesBody {
  display: flex;
  background-image: url(../img/Fondos/fondoblurry.jpg);
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
}
#propiedadesBody .contenedor-props {
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 700px) and (max-width: 999px) {
  #propiedadesBody .contenedor-props {
    display: grid;
    grid-template-columns: 22% 78%;
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "header header" "nav nav" "aside titulo" "aside props" "footer footer";
  }
}
@media (min-width: 1000px) and (max-width: 1199px) {
  #propiedadesBody .contenedor-props {
    display: grid;
    grid-template-columns: 24% 76%;
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "header header" "nav nav" "aside titulo" "aside props" "footer footer";
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  #propiedadesBody .contenedor-props {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "header header" "nav nav" "aside titulo" "aside props" "footer footer";
  }
}
#propiedadesBody .contenedor-props .titulo-props {
  grid-area: titulo;
  margin: 5%;
}
#propiedadesBody .contenedor-props #filtros {
  background-color: rgb(236, 228, 228);
  font-size: 0.7em;
  padding: 20px 10px;
  grid-area: aside;
}
#propiedadesBody .contenedor-props #filtros h3 {
  text-align: center;
  font-weight: 800;
}
#propiedadesBody .contenedor-props #mainProps {
  grid-area: props;
  margin: 20px;
}
#propiedadesBody .contenedor-props #mainProps #cards {
  margin-bottom: 20px;
}
#propiedadesBody .contenedor-props #mainProps #cards .espacio-cards {
  padding-bottom: 60px;
}
#propiedadesBody .contenedor-props #mainProps #cards .espacio-cards .card-propiedades {
  display: flex;
  flex-flow: column nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
#propiedadesBody .contenedor-props #mainProps #cards .espacio-cards .wrapper {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
#propiedadesBody .contenedor-props #mainProps #cards .espacio-cards .wrapper:hover {
  opacity: 0.8;
  background-color: #555454;
}
#propiedadesBody .contenedor-props #mainProps #cards .espacio-cards .wrapper:hover img {
  opacity: 0.8;
}
#propiedadesBody .contenedor-props #mainProps #cards .espacio-cards .wrapper:hover .overlay {
  opacity: 1;
}
#propiedadesBody .contenedor-props #mainProps #cards .espacio-cards .wrapper img {
  opacity: 1;
  display: block;
  width: 100%;
  height: 130px;
  transition: 0.5s ease;
}
@media (min-width: 375px) and (max-width: 539px) {
  #propiedadesBody .contenedor-props #mainProps #cards .espacio-cards .wrapper img {
    height: 135px;
  }
}
@media (min-width: 540px) and (max-width: 699px) {
  #propiedadesBody .contenedor-props #mainProps #cards .espacio-cards .wrapper img {
    height: 140px;
  }
}
@media (min-width: 700px) and (max-width: 999px) {
  #propiedadesBody .contenedor-props #mainProps #cards .espacio-cards .wrapper img {
    height: 150px;
  }
}
@media (min-width: 1000px) and (max-width: 1199px) {
  #propiedadesBody .contenedor-props #mainProps #cards .espacio-cards .wrapper img {
    height: 180px;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  #propiedadesBody .contenedor-props #mainProps #cards .espacio-cards .wrapper img {
    height: 200px;
  }
}
#propiedadesBody .contenedor-props #mainProps #cards .espacio-cards .wrapper .overlay {
  opacity: 0;
}
#propiedadesBody .contenedor-props #mainProps #cards .espacio-cards .wrapper .overlay .content {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-size: 20px;
  color: rgb(245, 245, 245);
  white-space: nowrap;
  overflow: hidden;
}

/* Fin pág Props, Alq y Ventas*/
/*Pag error 404*/
.error-body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "titulo" "subtitulo" "imagen" "button";
}
@media (min-width: 1000px) and (max-width: 1199px) {
  .error-body {
    grid-template-columns: 2fr;
    grid-template-rows: 3fr;
    grid-template-areas: "imagen titulo" "imagen subtitulo" "imagen button";
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  .error-body {
    grid-template-columns: 55% 45%;
    grid-template-rows: 3fr;
    grid-template-areas: "imagen titulo" "imagen subtitulo" "button button";
  }
}
.error-body .container-error {
  margin: 75px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.error-body .container-error .container-error-texto {
  margin: 70px;
}
@media (min-width: 700px) and (max-width: 999px) {
  .error-body .container-error .container-error-texto {
    margin: 120px 80px;
  }
}
.error-body .container-error .container-error-texto .error-titulo {
  grid-area: titulo;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(9, 51, 105);
  font-weight: 800;
  font-size: larger;
  margin-bottom: 15px;
}
@media (min-width: 700px) and (max-width: 999px) {
  .error-body .container-error .container-error-texto .error-titulo {
    font-size: 2em;
    margin-bottom: 25px;
  }
}
@media (min-width: 1000px) and (max-width: 1199px) {
  .error-body .container-error .container-error-texto .error-titulo {
    font-size: 2.2em;
    margin-bottom: 35px;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  .error-body .container-error .container-error-texto .error-titulo {
    font-size: 2.5em;
    margin-bottom: 40px;
  }
}
.error-body .container-error .container-error-texto .error-subtitulo {
  grid-area: subtitulo;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 700px) and (max-width: 999px) {
  .error-body .container-error .container-error-texto .error-subtitulo {
    font-size: 1.3em;
  }
}
@media (min-width: 1000px) and (max-width: 1199px) {
  .error-body .container-error .container-error-texto .error-subtitulo {
    font-size: 1.5em;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  .error-body .container-error .container-error-texto .error-subtitulo {
    font-size: 1.8em;
  }
}
.error-body .container-error .container-error-img {
  grid-area: imagen;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 55px;
}
@media (min-width: 700px) and (max-width: 999px) {
  .error-body .container-error .container-error-img img {
    width: 390px;
    height: 390px;
  }
}
@media (min-width: 1000px) and (max-width: 1199px) {
  .error-body .container-error .container-error-img img {
    width: 300px;
    height: 300px;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  .error-body .container-error .container-error-img img {
    width: 310px;
    height: 310px;
  }
}
.error-body .container-error .container-error-button {
  grid-area: button;
  padding-bottom: 30px;
}
@media (min-width: 700px) and (max-width: 999px) {
  .error-body .container-error .container-error-button {
    width: 390px;
    padding-bottom: 60px;
  }
}
@media (min-width: 1000px) and (max-width: 1199px) {
  .error-body .container-error .container-error-button {
    width: 400px;
    padding-bottom: 70px;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  .error-body .container-error .container-error-button {
    width: 420px;
    padding-bottom: 80px;
  }
}
.error-body .container-error .container-error-button a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 55px;
  font-weight: 500;
}
@media (min-width: 700px) and (max-width: 999px) {
  .error-body .container-error .container-error-button a {
    font-size: 1.5em;
  }
}
@media (min-width: 1000px) and (max-width: 1199px) {
  .error-body .container-error .container-error-button a {
    font-size: 1.6em;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  .error-body .container-error .container-error-button a {
    font-size: 1.7em;
  }
}

/*# sourceMappingURL=main.css.map */
