/* GENERAL */ 
html {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    overflow-x: hidden;
    background: linear-gradient(to bottom, rgb(250, 248, 246), rgb(240, 238, 238), rgb(235, 231, 231));
} 

.container {
    max-width: 342vw;
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer"
    ;
} 

.font-size { font-size: 0.65rem; }
.text-center {text-align: center;}
.bold { font-weight: bold;}
.justify-content {justify-content: center;}
.align.items {align-items: center;}
.flex-flow-row-nowrap { flex-flow: row nowrap;} 
.flex-flow-row-wrap { flex-flow: row wrap;}
.pointer {cursor: pointer;}

ul { list-style: none; }
li { display: inline-block; }
h1 { font-size: 1.6rem; }
h2 { font-size: 1.2rem; }
h3 { font-size: 1rem; }
p { font-size: 0.7rem; }
/*Fin General*/

/* HEADER */
#header {
    display: flex;
    grid-area: "header";
    background-color: rgb(245, 245, 245);
}

#headerDiv {
    width: auto;
    height: auto;
    overflow: auto;
    flex-flow: row wrap;
} 

#headerDiv li { padding-right: 5px;}

.iconosHeader {
    width: 14px;
    height: 12px;
}
/*Fin Header*/


/* NAV */
#nav {
    margin: 40px;
    grid-area: "nav" ;
}

#nav:hover { cursor: pointer;}


.logo-nav-medidas {
    width: 100px;
    height: 100px;
}  
/*Fin Nav*/

/*MAIN del INDEX*/
#main {
    grid-area: "main";
    padding-bottom: 50px;
 }

 .index-contenedor-img {
    height: 0px;
    width: 0px;
    cursor: pointer;
 }
 
 .index-contenedor-img img {
    height: 0%;
    width: 0%;
 }
 
 /*section 1*/
 .index-contenedor-titulo {
    width: auto;
    height: auto;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 35px;
 }

 .flex-direction { flex-direction: row; }

 .index-contenedor-titulo h2{
    font-weight: 700;
    padding-bottom: 20px;
    margin: 0px 70px;
 }

 .index-contenedor-destacados h1{
    font-weight: 700;
    padding-bottom: 10px;
    margin: 0px 25px;
 }
 
.btn-color {
    background-color: rgb(233, 227, 227);
    border: solid 2px rgb(218, 206, 206);
}
 
 hr {
    margin: auto;
    background: black;
    width: 100px;
    height: 4px;
    border-style: none;
    margin-bottom: 15px;
 }
 
 /*section 3*/
 .propiedades {
     height: 10rem;
     width: 12rem ;
 }
 
 #cards { margin: 30px 35px;}
 .margin-bottom  { margin-bottom: 50px;}
 .margin-card { margin-top: 15px;}
 .whole-card { margin-bottom: 20px;}
 
.index-contenedor-destacados {
    margin: auto;
    padding-top: 35px;
 }

.index-contenedor-destacados h2{
    width: 100%;
    padding-bottom: 10px;
 }
 /*FIN DEL INDEX*/
 
 
 /*Pág Props !!!!!!! PORQUE ES DIF A LAS OTRAS */
 #propiedadesBody  {
     display: flex;
     background-repeat: no-repeat;
     background-position: fixed;
     background-size: cover;
     background-image: url(../img/Fondos/fondoblurry.jpg);
 }
 
 .propiedades2 {
     width: 200px;
     height: 180px;
     padding: 10px;
 }
 
 #mainProps section .container  {
     background-color: rgb(218, 206, 206);
     margin: 10px 50px;
     padding: 25px;
 }
 
 .containerProps {
     background-color: rgb(223, 219, 219);
     border-radius: 1rem;
     padding: 25px;
     padding-bottom: 35px;
     margin-top: 15px;
     margin-left: 40px;
     width: auto;
 }
 /* FIN PAG PROPS*/
 
 
 /*Págs Alquiler, Venta y Props*/
 .contenedor {
     display: grid ;
     grid-template-columns: 22% 78%;
     grid-template-rows: repeat(2, auto);
     grid-template-areas: 
     "filtros titulo"
     "filtros props";
 }  
 
 #filtros  {
  grid-area: "filtros"; 
  background-color: rgb(184, 174, 174);
  font-size: small;
  padding-top: 40px;
  padding-left: 5px;
 }
 
 .titulosPropAlqVenta  {
     grid-area: "titulo";
     padding-top: 30px;
   }
 
 
 #props  {grid-area: "props";}
 
 #filtros .container {display: flex;}
 
 .flex-flow { flex-flow: column nowrap;}
 .flex-direction-column {flex-direction: column;}
 .flex-wrap {flex-wrap: nowrap; }
 
 #filtros .asideDiv {
     margin-bottom: 15px;
     margin-top: 25px;
   }
 
 #mainProps  {display: flex;}
 
 #propiedadesBody  {
     background-repeat: no-repeat;
     background-position: fixed;
     background-size: cover;
     background-image: url(../img/Fondos/fondoblurry.jpg);
 }
 
 
 #mainProps section div ul li .containerProps {
     background-color: rgb(233, 227, 227);
     border-radius: 0.7rem;
     padding: 12px;
     padding-bottom: 15px;
     margin-bottom: 20px;   
 }
 /*FIN PAG PROPS ALQ Y VENTAS*/
 
 
 /*Página Contacto*/
 .contenedorContacto {
    display: grid ;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "contacto"
    "mapa";
 } 
 
 #fondo {
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
    background-image: url(../img/Fondos/fondoblurry.jpg);
 }
 
 #mapa {
    grid-area: "mapa";
    margin-right: 30px;
    margin-left: 30px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 45px;
 }
 
 
 #contacto-aside {
    grid-area: "contacto";
    padding: 45px;
 }
 
 #aside-contacto-bg {background: linear-gradient(to bottom, whitesmoke, beige);}
 
 #mainContacto {
    grid-area: "mapa";
    padding-bottom: 40px;
    padding-top: 15px;
 }
 
 .titulosMain {background-color: rgba(230, 217, 217, 0.863); }
 
 .pMain {margin-top: 12px;}
 
 #sectionInfo {  padding-bottom: 30px; }
 
 .line-height {line-height: 10px;}
 
 .formConsulta { 
    font-size: 1.2rem; 
    padding-bottom: 6px;
 }
 /*FIN PAG CONTACTO*/
  
 /*Pàg Tasaciones*/
.icono-tasaciones {
    width: auto;
    height: 65px;
    margin-top: 15px;
 }

.contenedor-tasaciones-intro { margin: 25px;}

.hr-tasaciones{
    width: 90%;
    height: 1px;
}

.contenedor-form-tasaciones {
    margin-bottom: 45px;
    margin-right: 35px;
    margin-left: 35px;
    padding: 10px;
    color: #999897;
}

.contenedor-form-tasaciones button{font-weight: 500;}

.btn-bg {background-color: #ede6dd;}

.margin-top {margin-top: 20px;}
 
 #tasaciones {
    display: flex;
    padding-top: 40px;
 }
 
 #tasaciones p {padding-bottom: 5px;}
 
 #form-tasacion {
    background-color: rgb(228, 216, 216);
    margin-bottom: 50px;
    padding: 25px;
    border-radius: 15px;
 
 }
 
 #button {
    margin: 10px;
    font-size: 1.5rem;
  }
/* FIN TASACIONES*/

/*FOOTER*/
.hr-footer{
    width: auto;
    height: 2px;
    margin: auto;
    background-color: black;
    border-style: none;
}

#pie {
    grid-area: "footer";
    overflow: hidden;
    background-color: rgb(138, 28, 39);
} 

.index-contenedor-footer {
    width: auto;
    height: auto;
    background-color: rgb(115, 16, 26);
    color: rgb(241, 236, 236);
}

.index-contenedor-footer-mapa {
    width: auto;
    height: auto;
    margin-bottom: 1px;
    text-align: center;
    color: rgb(241, 236, 236);
 }

.mapa--ugarte {
    height: 12rem;
    width: 16rem ;
    justify-content: center;
}

.index-contenedor-footer-advertencia {
    margin: auto;
    width: auto;
    height: auto;
}

.index-contenedor-footer-advertencia p{
    margin-top: 15px;
    color: rgb(184, 174, 174);
    font-size: 0.5rem;
}
/*FIN DEL FOOTER*/




@media only screen and (min-width: 350px) {

    /* GENERAL */
    .container {max-width: 450px;}

    h1 { font-size: 1.5rem; }
    h2 { font-size: 1.3rem; }
    h3 { font-size: 1.1rem; }
    p { font-size: 0.7rem; }
    .font-size { font-size: 0.6rem; }
    /*Fin General*/

    /* HEADER */
    #headerDiv li {padding-right: 2px;}

    .iconosHeader {
        width: 15px;
        height: 13px;
    }
    /* FIN HEADER*/

    /* NAV */
   .logo-nav-medidas {
        width: 150px;
        height: 150px;
    }
    /* FIN NAV*/

    /*MAIN DEL INDEX*/
    .index-contenedor-destacados h1{
        font-weight: 700;
        padding-bottom: 10px;
        margin: 0px 45px;
     }

    #boton {
        font-size: 0.5rem;
        padding: 2px;
        margin-top: 2px;
        border-radius: 5px;
    }
     /*FIN MAIN DEL INDEX*/

    /* PAG PROPS ALQ Y VENTAS*/
    .propiedades {
        height: 12rem;
        width: 14rem ;
    }
    /* FIN PAG PROPS ALQ Y VENTAS */

    /*PAG CONSULTAS*/
    .mapa--ugarte {
        height: 18rem;
        width: 20rem ;
    }
    /*FIN PAG CONSULTAS*/

    /*Pàg Tasaciones*/
    .contenedor-tasaciones-intro {
        margin: 35px;
    }

    .icono-tasaciones {height: 70px; }
    /*Fin pág Tasaciones*/
}



@media only screen and (min-width: 390px) {

   /* GENERAL */
   .container {max-width: 550px;}

    h1 { font-size: 2rem; }
    h2 { font-size: 1.8rem; }
    h3 { font-size: 1.4rem; }
    p { font-size: 0.8rem; }
    
    .font-size { font-size: 1rem; }
    /*FIN GENERAL*/

    /*HEADER*/
    .iconosHeader {
        width: 10px;
        height: 8px;
    }
    /*FIN HEADER*/

    /*NAV*/
    .logo-nav-medidas {
        width: 210px;
        height: 210px;
    }
    /*FIN NAV*/

    /*index main section 3*/
    .propiedades {
        height: 12rem;
        width: 14rem ;
    }

    #boton {
        font-size: 0.8rem;
        font-weight: 600;
        padding: 3px;
        margin-top: 5px;
        border-radius: 5px;
    }
    /*fin index main*/

    /*FOOTER*/
    .mapa--ugarte {
        height: 18rem;
        width: 20rem ;
    }
    /*FIN FOOTER*/

    /*Pàg Tasaciones*/
    .contenedor-tasaciones-intro {margin: 45px;}

    .icono-tasaciones {height: 75px; }
    /*Fin pág Tasaciones*/
}

@media only screen and (min-width: 576px) {
    /*GENERAL*/
    .container { max-width: 700px}
    
    h1 { font-size: 3rem; }
    h2 { font-size: 2.5rem; }
    h3 { font-size: 2rem; }
    p { font-size: 1.7rem; }
    .font-size { font-size: 1.8rem; }

    .iconos {
        height: 2.5rem;
        width: 2.5rem ;
        margin-right: 1px;
    }
    /*FIN GENERAL*/

    /* HEADER*/
    #headerDiv li {
        padding-right: 6px;
        padding-left: 2px;
    }

    .iconosHeader {
        width: 20px;
        height: 18px;
    }
    /*FIN HEADER*/

    /*NAV*/
    #nav .logoNav {
        width: 280px;
        height: 280px;
        padding: 15px;
    }
    /*FIN NAV*/


    .propiedades {
        height: 18rem;
        width: 20rem ;
    }

    .mapa--ugarte {
        height: 30rem;
        width: 34rem ;
    }
}

@media only screen and (min-width: 768px) {
    
    /*GENERAL*/
    .container { max-width: 900px}
    
    h1 { font-size: 2.5rem; }
    h2 { font-size: 2rem; }
    h3 { font-size: 1.5rem; }
    p { font-size: 1.3rem; }
    .font-size { font-size: 1.2rem; }

    .iconos {
        height: 2.8rem;
        width: 2.8rem ;
        margin-right: 1px;
    }
    /*FIN GENERAL*/

    /* HEADER*/
    #headerDiv li {
        padding-right: 5px;
        padding-left: 4px;
    }

    .iconosHeader {
        width: 30px;
        height: 28px;
    }
    /*FIN HEADER*/

    /*NAV*/
    #nav .logoNav {
        width: 400px;
        height: 400px;
        padding: 20px;
    }
    /*FIN NAV*/

    /*MAIN INDEX*/
    .index-contenedor-img {
        height: 620px;
        width: auto;
        overflow: auto;
        margin-bottom: 20px; 
    }
     
    .index-contenedor-img img {
        height: 100%;
        width: 100%;
    }

    hr {
        margin: auto;
        background: black;
        width: 500px;
        height: 3px;
        border-style: none;
        margin-bottom: 15px;
     }

     .propiedades {
        height: 18rem;
        width: 20rem ;
    }
    /*FIN DEL MAIN DEL INDEX*/

    /*FOOTER*/
    .mapa--ugarte {
        height: 36rem;
        width: 40rem ;
    }
    /*FIN FOOTER*/

    /*PÁG TASACIONES*/
    .contenedor-form-tasaciones {
        margin-bottom: 50px;
        margin-right: 75px;
        margin-left: 75px;
        padding: 15px;
    }

     .contenedor-tasaciones-intro { margin: 55px;}

     .icono-tasaciones {height: 85px; }
    /*FIN PÁG TASACIONES*/    
}

@media only screen and (min-width: 900px) {

    /*GENERAL*/
    .container { max-width: 1000px}
    /*FIN GENERAL*/

    /*NAV*/
    #nav .logoNav {
        width: 500px;
        height: 500px;
        padding: 20px;
    }
    /*FIN NAV*/

    /*MAIN INDEX*/
    .index-contenedor-img {
        height: 720px;
        width: auto;
        overflow: auto;
        margin-bottom: 20px; 
    }
     
    .index-contenedor-img img {
        height: 100%;
        width: 100%;
    }
    /*FIN DEL MAIN DEL INDEX*/

     .propiedades {
         height: 22rem;
         width: 20rem ;
         margin-top: 20px;
     }

     #headerDiv li {
        padding-right: 6px;
        padding-left: 5px;
    }

    /*PÁG TASACIONES*/
    .contenedor-form-tasaciones {
        margin-bottom: 50px;
        margin-right: 75px;
        margin-left: 75px;
        padding: 15px;
    }

     .contenedor-tasaciones-intro {margin: 55px; }
     
     .icono-tasaciones {height: 90px; }
    /*FIN PÁG TASACIONES*/   

}


@media only screen and (min-width: 1024px) {
    h1 { font-size: 2.5rem; }
    h2 { font-size: 2rem; }
    h3 { font-size: 1.5rem; }
    p { font-size: 1.2rem; }

    .iconos {
        height: 2rem;
        width: 2rem ;
    }
    
    .font-size { font-size: 1.5rem; }

    #headerDiv li {
        padding-right: 4px;
        padding-left: 4px;
    }

    .iconosHeader {
        width: 20px;
        height: 18px;
    }

    #header {
    position: sticky;
    left: 0%;
    top: 0%;
    right: 0%;
    } 

    #nav .logoNav {
        width: 250px;
        height: 250px;
        padding: 5px;
    }
    

    /*MAIN INDEX*/
    .index-contenedor-titulo {
        display: flex;
     }

    .index-contenedor-img {
        height: 600px;
        width: auto;
        overflow: auto;
        margin-bottom: 30px; 
     }
     
     .index-contenedor-img img {
        height: 100%;
        width: 100%;
    }

    #buscador-propiedades-index {
        margin: 5px 80px;
    }
    /*FIN DEL MAIN INDEX*/

    #titulo {
        margin-top: 60px;
        margin-bottom: 30px;
    }

    #buscador {
        margin-bottom: 50px;
    }

    .propiedades {
        height: 14rem;
        width: 12rem ;
    }

    .mapa--ugarte {
        height: 25rem;
        width: 29rem ;
    }

    #boton {
        font-size: 1.2rem;
        padding: 6px;
        margin-top: 6px;
        border-radius: 3.5px;
        border: 0.6px solid;
    }

    /*PÁG TASACIONES*/
    .contenedor-form-tasaciones {
        margin-bottom: 70px;
        margin-right: 150px;
        margin-left: 150px;
    }

    .contenedor-tasaciones-intro { margin: 65px; }
    .contenedor-tasaciones-contacto {display: flex;}
    /*FIN PÁG TASACIONES*/  
}


@media only screen and (min-width: 1200px) {

    /* GENERAL */
    .container {max-width: 1400vw;} 

    .iconos {
        height: 2rem;
        width: 2rem ;
    }

    .font-size { font-size: 1.3rem; }
    h1 { font-size: 3rem; }
    h2 { font-size: 2.5rem; }
    h3 { font-size: 2rem; }
    p { font-size: 1.4rem; }
    /*Fin General*/
  

    /* HEADER */
    #header {
        display: flex;
        grid-area: "header";
        background-color: rgb(245, 245, 245);
    }

    #headerDiv {
        width: auto;
        height: auto;
        overflow: auto;
    } 

    #headerDiv li {
        padding-right: 2px;
    }

    .iconosHeader {
        width: 12px;
        height: 10px;
    }
    /*Fin Header*/
 

    /* NAV */
    #nav {
        margin: 40px;
    }
    
    .logo-nav-medidas {
        width: 150px;
        height: 150px;
    }  
    /*Fin Nav*/

    /*MAIN INDEX*/
    .index-contenedor-img {
        height: 820px;
        width: auto;
        overflow: auto;
        margin-bottom: 20px;
    }
     
    .index-contenedor-img img {
        height: 100%;
        width: 100%;
    }

    .index-contenedor-titulo {
       margin-top: 45px;
    }

    .index-contenedor-destacados {
        margin-top: 55px;
    }
    /*FIN DEL MAIN INDEX*/
  

    /*PAG PROPS*/
    #main #img img { 
        height: 450px; 
    }

    .propiedades {
        height: 14rem;
        width: 14rem ;
    }

    .mapa--ugarte {
        height: 25rem;
        width: 29rem ;
    }

    #boton {
        font-size: 1.2rem;
        padding: 6px;
        margin-top: 6px;
        border-radius: 3.5px;
        border: 0.6px solid;
    }
    /*Fin Pag Props*/


    /*PAG CONTACTO/CONSULTAS*/
    .contenedorContacto {
        display: grid ;
        grid-template-columns: 20% 80%;
        grid-template-rows: auto;
        grid-template-areas: 
        "contacto mapa";
    } 
    
    #fondo {
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
    background-image: url(../img/Fondos/fondoblurry.jpg);
    }
    
    #mapa {
        grid-area: "mapa";
        margin-right: 30px;
        margin-left: 30px;
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 45px;
    }
    
    
    #contacto-aside {
        grid-area: "contacto";
        padding: 15px;
        background: linear-gradient(to bottom, whitesmoke, beige);
    }
    
    #mainContacto {
        grid-area: "mapa";
        padding-bottom: 40px;
        padding-top: 15px;
    }
    
    .titulosMain {
        background-color: rgba(230, 217, 217, 0.863);
    }
    
    .pMain {
        margin-top: 12px;
    }
    
    #sectionInfo { 
        padding-bottom: 30px; 
    }
    
    .line-height {
        line-height: 10px;
    }
    
    .formConsulta { 
        font-size: 1.2rem; 
        padding-bottom: 6px;
    }
    /* Fin Contacto*/

}

